@font-face {
  font-family: "iconfont"; /* Project id 2541594 */
  src: url('iconfont.woff2?t=1620727342770') format('woff2'),
       url('iconfont.woff?t=1620727342770') format('woff'),
       url('iconfont.ttf?t=1620727342770') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-Aa:before {
  content: "\e636";
}

.icon-pen-fill:before {
  content: "\e667";
}

